@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-color:white;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../assets/andy-holmes-rCbdp8VCYhQ-unsplash.jpg");
    background-repeat: no-repeat;
    color:var(--font-color) !important;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1em;
    column-gap: 1em;
}
.delete{
    height: 28px;
    padding: 5px 0px;
    border-radius: 3px;
}

#list_container{
    padding:1rem;
}
#loader{
    margin:auto;
}